# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# ---

# Download files
phase1-basic-framework/client/Downloads/
phase2-user-authentication/client/Downloads/

# Upload files
phase1-basic-framework/server/cloud-drive/
phase2-user-authentication/server/cloud-drive/

# executable files
phase1-basic-framework/client/client
phase1-basic-framework/server/server

phase2-user-authentication/client/client
phase2-user-authentication/server/server

# log files (general pattern)
*.log
# phase2-user-authentication/server/server.log
